@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  background: #000;
  color: #fff;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
